@use "../../../components/scss/abtracts";
@import "../../../components/Common/Common.module.scss";

.menu {
    margin: 50px 0;
    
    &__inner {
        position: relative;
        background: rgba(255, 255, 255, 0.8);

        @include abtracts.breakpoint(md) {
            margin: 30px 0;
        }
    }

    &__title {
        color: $secondary;
        font-size: 4rem;
        font-weight: 800;
        font-family: "Merienda";
        text-align: center;

        @include abtracts.breakpoint(xl) {
            font-size: 3.6rem;
        }

        @include abtracts.breakpoint(lg) {
            font-size: 3rem;
        }

        @include abtracts.breakpoint(md) {
            font-size: 2.6rem;
        }
        @include abtracts.breakpoint(sm) {
            font-size: 2rem;
        }
    }

    &__body {
        margin-top: 50px;

        @include abtracts.breakpoint(md) {
            margin-top: 30px;
        }

        &-title {
            text-align: center;
            font-size: 3rem;
            color: #333;
            font-weight: 500;

            @include abtracts.breakpoint(lg) {
                font-size: 2.6rem;
            }

            @include abtracts.breakpoint(md) {
                font-size: 2rem;
            }

            @include abtracts.breakpoint(sm) {
                font-size: 1.8rem;
            }
        }

    }


    &__content {
        display: flex;
        justify-content: center;
        gap: 80px;

        @include abtracts.breakpoint(lg) {
            gap: 50px;
        }

        @include abtracts.breakpoint(md) {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }


        &-block {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;

            @include abtracts.breakpoint(md) {
                &:nth-child(2) {
                    margin-top: 10px;
                }
            }
        }

        &-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            overflow: hidden;
        }

        &-gr {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 400px;

            @include abtracts.breakpoint(lg) {
                width: 300px;
            }

            @include abtracts.breakpoint(md) {
                width: 400px;
            }

            @include abtracts.breakpoint(sm) {
                width: 250px;
            }
        }

        &-name {
            white-space: nowrap;
            font-weight: 400;

            @include abtracts.breakpoint(sm) {
                font-size: 1.5rem;
            }
        }

        &-dot {
            min-width: 100px;
            max-width: 285px;
            overflow: hidden;

            @include abtracts.breakpoint(lg) {
                min-width: 80px;
                max-width: 200px;
            }

            @include abtracts.breakpoint(md) {
                min-width: 200px;
                max-width: 290px;
            }

            @include abtracts.breakpoint(sm) {
                min-width: 50px;
                max-width: 180px;
            }
        }

        &-price {
            color: $secondary;
            font-weight: 600;

            @include abtracts.breakpoint(sm) {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
    }

    &__burger-img {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 100px;
        opacity: 0.5;

        @include abtracts.breakpoint(lg) {
            width: 120px;
            height: 120px;
            top: 20px;
            left: 10px;
        }

        @include abtracts.breakpoint(md) {
            top: -10px;
            left: 50px;
        }

        @include abtracts.breakpoint(sm) {
            width: 100px;
            height: 100px;
            left: -10px;
        }
    }

    &__pizza-img {
        opacity: 0.5;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 285px;
        right: 150px;

        @include abtracts.breakpoint(lg) {
            width: 120px;
            height: 120px;
            right: 100px;
        }

        @include abtracts.breakpoint(md) {
            width: 90px;
            height: 90px;
            top: 400px;
            right: 120px;
        }

        @include abtracts.breakpoint(sm) {
            right: 20px;
            top: 390px;
        }
    }

    &__coffee-img {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 530px;
        left: 100px;
        opacity: 0.5;

        @include abtracts.breakpoint(lg) {
            width: 120px;
            height: 120px;
            top: 510px;
        }

        @include abtracts.breakpoint(md) {
            width: 100px;
            height: 100px;
            top: 765px;
            right: 550px;
        }

        @include abtracts.breakpoint(sm) {
            width: 100px;
            height: 100px;
            left: 20px;
            top: 750px;
        }
    }

    &__ramen-img {
        width: 130px;
        height: 130px;
        position: absolute;
        top: 680px;
        right: 150px;
        opacity: 0.5;

        @include abtracts.breakpoint(lg) {
            width: 120px;
            height: 120px;
        }

        @include abtracts.breakpoint(md) {
            width: 100px;
            height: 100px;
            top: 930px;
        }

        @include abtracts.breakpoint(sm) {
            right: 0;
            top: 915px;
        }
    }
}