@use "../../../components/scss/abtracts";
@import "../../../components/Common/Common.module.scss";

.box__logout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("../../../assets/bg_login.jpg") center/cover no-repeat;
}

.logout {
    width: 450px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #515151;

    @include abtracts.breakpoint(md) {
        width: 400px;
    }

    @include abtracts.breakpoint(sm) {
        width: 300px;
    }

    &__form {
        padding: 30px 20px;
        font-family: "Roboto";
    }

    &__title {
        font-family: "Dancing Script";
        text-align: center;
        font-size: 3.8rem;
        color: $primary-color;

        @include abtracts.breakpoint(sm) {
            font-size: 2.6rem;
        }
    }

    &__sub-title {
        margin-top: 20px;
        font-size: 1.6rem;
        text-align: center;
        color: #f1f1f1;

        @include abtracts.breakpoint(sm) {
            font-size: 1.3rem;
            margin-top: 10px;
        }
    }

    &__question {
        margin-top: 10px;
        text-align: center;
        color: $secondary;
        font-weight: 600;
    }

    &__wrap-btn {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;

        @include abtracts.breakpoint(sm) {
            gap: 20px;
        }
    }
}

.btn {
    margin-top: 15px;
    width: 160px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
    color: $thirtary;
    background-color: transparent;

    &__cancel {
        color: $primary-color;
        border: 1px solid $primary-color;
    }

    &__logout {
        color: $thirtary;
        background-color: $primary-color;
    }

    @include abtracts.breakpoint(sm) {
        font-size: 1.5rem;
    }
}

.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%, 50%);
}

