@use "../../../components/scss/abtracts";

@import "../../../components/Common/Common.module.scss";

.box__register {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("../../../assets/bg_login.jpg") center/cover no-repeat;
}

.register {
    width: 500px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #515151;

    @include abtracts.breakpoint(md) {
        width: 400px;
    }

    @include abtracts.breakpoint(sm) {
        width: 300px;
    }

    &__form {
        padding: 30px 20px;
        font-family: "Roboto";

        &-row {
            display: flex;
            flex-wrap: wrap;
        }

        &-group {
            width: 100%;
            position: relative;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
    
            i {
                position: absolute;
                right: 10px;
                top: 70%;
                transform: translateY(-50%);
                color: $primary-color;
            }
        }
    }

    &__title {
        font-family: "Dancing Script";
        text-align: center;
        font-size: 3.8rem;
        color: $primary-color;

        @include abtracts.breakpoint(sm) {
            font-size: 2.6rem;
        }
    }

    &__sub-title {
        color: $secondary;
        font-size: 2.4rem;
        margin: 5px 0;
        text-align: center;
        font-weight: 500;

        @include abtracts.breakpoint(sm) {
            font-size: 1.6rem;
        }
    }

    &__desc {
        margin-top: 20px;
        font-size: 1.5rem;
        text-align: center;
        color: #f1f1f1;

        @include abtracts.breakpoint(sm) {
            font-size: 1.3rem;
            margin-top: 10px;
        }
    }

    &__label {
        color: $thirtary;
        font-weight: 500;
        color: $primary-color;

        @include abtracts.breakpoint(sm) {
            font-size: 1.4rem;
        }
    }

    &__input {
        width: 100%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1.5px solid transparent;
        border-radius: 4px;
        outline: none;
        color: $primary-color;

        &:focus {
            border-color: orange;
        }
    }

    &__btn {
        margin-top: 30px;
        width: 100%;
        padding: 10px;
        background-color: $primary-color;
        border: none;
        outline: none;
        border-radius: 99px;
        font-weight: 600;
        font-size: 1.8rem;
        cursor: pointer;
        color: $thirtary;

        @include abtracts.breakpoint(sm) {
            font-size: 1.5rem;
        }
    }

    &__account-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 15px;
    }

    &__account {
        color: #f1f1f1;
        font-size: 1.5rem;

        @include abtracts.breakpoint(sm) {
            font-size: 1.3rem;
        }
    }

    &-or-login {
        color: $secondary;
        font-weight: 600;

        @include abtracts.breakpoint(sm) {
            font-size: 1.3rem;
        }
    }
}

.loading-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%, 50%);
}

