@use "../../../components/scss/abtracts";
@import "../../../components/Common/Common.module.scss";

.cart-empty {
    margin: 50px 0;

    @include abtracts.breakpoint(md) {
        margin-top: 30px;
    }

    &__title {
        font-size: 4rem;
        text-align: center;
        color: $secondary;
        font-weight: 800;
        font-family: "Merienda";

        @include abtracts.breakpoint(lg) {
            font-size: 3.6rem;
        }

        @include abtracts.breakpoint(md) {
            font-size: 3rem;
        }

        @include abtracts.breakpoint(sm) {
            font-size: 2rem;
        }
    }

    &__desc {
        text-align: center;
        font-size: 2rem;
        margin: 30px 0;
        color: #959595;

        @include abtracts.breakpoint(lg) {
            font-size: 1.8rem;
        }

        @include abtracts.breakpoint(md) {
            font-size: 1.6rem;
        }

        @include abtracts.breakpoint(sm) {
            font-size: 1.5rem;
            margin: 20px 0;
        }
    }

    &__link {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 2rem;
        font-weight: 500;
        color: $fourary-color;

        @include abtracts.breakpoint(lg) {
            font-size: 1.8rem;
        }

        @include abtracts.breakpoint(md) {
            font-size: 1.6rem;
        }

        @include abtracts.breakpoint(md) {
            font-size: 1.5rem;
        }
    }
}

// cart have food

.cart {
    margin: 50px 0;

    &__table {
        border-collapse: collapse;
        width: 100%;

        @include abtracts.breakpoint(sm) {
            grid-template-columns: 0.3fr 0.7fr 0.4fr 0.4fr 0.6fr;
        }
    }

    &__tr {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.8fr 0.5fr 0.8fr;

        @include abtracts.breakpoint(sm) {
            grid-template-columns: 0.3fr 0.7fr 0.4fr 0.4fr 0.6fr;
        }
    }

    &__th {
        border-bottom: 1px solid #e6e6e6;
        padding: 10px;
        background-color: #f5f5f5;
        color: #333;
        text-align: center;

        @include abtracts.breakpoint(sm) {
            font-size: 1.4rem;
            padding: 8px;
        }
    }

    &__td {
        border-bottom: 1px solid #e6e6e6;
        padding: 8px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1.5rem;

        @include abtracts.breakpoint(sm) {
            font-size: 1.4rem;
        }
    }

    &__td-name {
        border-bottom: 1px solid #e6e6e6;
        padding: 8px;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 5px;
        font-size: 1.5rem;
        position: relative;

        @include abtracts.breakpoint(sm) {
            font-size: 1.4rem;

            &:hover .cart__name-full {
                display: block;
            }
        }
    }

    &__img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        display: block;
        border: 1px solid $fourary-color;
        margin: 0 auto;
    }

    &__delete {
        width: 20px;
        height: 20px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
        cursor: pointer;

        @include abtracts.breakpoint(sm) {
            width: 15px;
            height: 15px;
        }
    }

    &__name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.5rem;
        
        @include abtracts.breakpoint(sm) {
            width: 40px;
        }

    }

    &__name-full {
        display: none;
        position: absolute;
        z-index: 99;
        top: 80%;
        background-color: $fourary-color;
        color: #fff;
        font-size: 1.3rem;
        padding: 5px;
    }

    &__quantity {
        padding: 5px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
    }

    &__btn {
        padding: 5px 8px;
        font-weight: 500;
        border: 1px solid #e6e6e6;
        outline: none;
        border-radius: 99px 0 0 99px;
        background-color: transparent;
        color: $secondary;
        
        &:last-child {
            border-radius: 0 99px 99px 0;
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__shopping {
        color: $secondary;
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;

        &--icon {
            font-size: 1.7rem;
        }

        span {
            font-size: 1.7rem;
        }
    }

    &__clear {
        margin: 20px 0;
        padding: 10px;
        color: $fourary-color;
        border: 1px solid $fourary-color;
        background: transparent;
        cursor: pointer;

        @include abtracts.breakpoint(sm) {
            padding: 8px;
            font-size: 1.5rem;
        }
    }
}

.cart__total {
    margin-top: 20px;
    width: 400px;
    border: 1px solid #e6e6e6;

    @include abtracts.breakpoint(sm) {
        width: 280px;
        margin: 20px auto;
    }
    
    &-title {
        background-color: #f5f5f5;
        padding: 10px;
        text-align: center;
        font-weight: 500;
        color: $secondary;
        font-size: 1.8rem;
    }

    &-item {
        padding: 15px;
        border-bottom: 1px solid #e6e6e6;
        color: #333;
        font-weight: 400;
        font-weight: 500;

        @include abtracts.breakpoint(sm) {
            font-size: 1.5rem;
        }

        span {
            display: inline-block;
            color: #333;
            min-width: 120px;
            font-size: 1.5rem;
        }
    }

    &-checkout {
        display: block;
        padding: 10px;
        border: none;
        background-color: $fourary-color;
        color: #fff;
        text-align: center;
        width: 100%;
        cursor: pointer;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
    }
}