@use "../../components/scss/abtracts";
@import "../../components/Common/Common.module.scss";

.breadcrumb {
    margin-top: 120px;

    @include abtracts.breakpoint(sm) {
        margin-top: 90px;
    }
    
    &__inner {
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include abtracts.breakpoint(sm) {
            gaP: 5px;
        }
    }
    
    &__pathname {
        color: $secondary;
        text-transform: uppercase;

        @include abtracts.breakpoint(sm) {
            font-size: 1.4rem;
        }
    }
}