@use "../../components/scss/abtracts";
@import "../../components/Common/Common.module.scss";

.tippy {
    background-color: #f1f8fe;
    border-radius: 10px;
    box-shadow: 0 10px 50px #333;
    position: relative;
    overflow: hidden;
    min-width: 200px;

    @include abtracts.breakpoint(sm) {
        display: none;
    }

    &__item {
        padding: 15px 20px;
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;
        color: $secondary;

        &:last-child {
            border-top: 1.5px solid $secondary;
        }

        &:hover {
            background-color: $secondary;
            color: #fff;
        }
    }

    &__icon {
        font-size: 1.8rem;
    }

    &__text {
        font-weight: 500;
    }
}