@use "../../../components/scss/abtracts";
@import "../../../components/Common/Common.module.scss";

.create-blog {
    margin: 20px;

   &__title {
        margin: 20px 0;
        text-align: center;
        font-size: 3rem;
        font-family: "Merienda";
        color: $secondary;
        font-weight: 800;

        @include abtracts.breakpoint(md) {
            font-size: 2.4rem;
        }

        @include abtracts.breakpoint(sm) {
            font-size: 2rem;
        }
   }

    &__form {
        padding: 20px;
        margin: 0 auto;
        // min-width: 500px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        box-shadow: 0px 0px 100px -20px $box-shadow-color;
        border-radius: 8px;
        
        &-block {
            display: flex;
            gap: 30px;

            @include abtracts.breakpoint(sm) {
                flex-direction: column;
            }
        }

        &-group {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            @include abtracts.breakpoint(sm) {
                width: 100%;
            }
        }

        &-label {
            color: #333;
            font-size: 1.7rem;
            font-weight: 500;

            @include abtracts.breakpoint(sm) {
                font-size: 1.6rem;
            }
        }

        &-input {
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            color: $fourary-color;
            outline: none;

            &:focus {
                border: 1px solid $fourary-color;
            }

            @include abtracts.breakpoint(sm) {
                font-size: 1.5rem;
            }
        }

        &-textarea {
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            color: $fourary-color;
            outline: none;

            &:focus {
                border: 1px solid $fourary-color;
            }

            @include abtracts.breakpoint(sm) {
                font-size: 1.5rem;
            }
        }
    }

    &__footer {
        padding-top: 20px;
        border-top: 1px solid #e6e6e6;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include abtracts.breakpoint(md) {
            flex-direction: column;
        }

        &-note {
            font-size: 1.5rem;
            color: #959595;

            @include abtracts.breakpoint(sm) {
                font-size: 1.4rem;
            }

            span {
                color: $secondary;
                font-weight: 600;
            }
        }

        &-wrap-btn {
            display: flex;
            align-items: center;
            gap: 10px;

            @include abtracts.breakpoint(md) {
                margin-top: 20px;
                gap: 20px;
            }
        }
    }

    &__btn-cancel {
        border: 1px solid #959595;
        outline: none;
        color: #959595;
        background-color: transparent;
        min-width: 80px;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;

        @include abtracts.breakpoint(md) {
            min-width: 100px;
        }
    }

    &__btn-create {
        border: none;
        outline: none;
        color: #fff;
        background-color: #14835e;
        min-width: 80px;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;

        @include abtracts.breakpoint(md) {
            min-width: 100px;
        }
    }
}