@use "../../../components/scss/abtracts";
@import "../../../components/Common/Common.module.scss";

.checkout {
    margin: 50px auto;
    
    &__inner {
        display: flex;
        gap: 30px;

        @include abtracts.breakpoint(lg) {
            gap: 15px;
        }

        @include abtracts.breakpoint(md) {
            gap: 10px;
            flex-direction: column;
        }
    }

    &__left {
        width: 60%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);    

        @include abtracts.breakpoint(md) {
            width: 550px;
            margin: 0 auto;
        }

        @include abtracts.breakpoint(sm) {
            width: 100%;
        }
    }
    
    &__address {

        &-title {
            color: #333;
            font-size: 1.8rem;
            font-weight: 500;

            @include abtracts.breakpoint(sm) {
                font-size: 1.7rem;
            }
        }

        &-desc {
            margin-top: 10px;
            font-size: 1.5rem;
        }

        &-user {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-top: 10px;
            border: 1px solid #e6e6e6;
            border-radius: 10px;
            padding: 10px;
            position: relative;
            transition: 0.3s;

            &:hover {
                border: 1px solid $fourary-color;
            }

            &--name {
                font-size: 1.7rem;
                font-weight: 500;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.6rem;
                }
            }

            &--phone {
                color: #333;
                font-size: 1.5rem;
        
                @include abtracts.breakpoint(sm) {
                    font-size: 1.4rem;
                }
            }

            &--location {
                color: #333;
                font-size: 1.5rem;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.4rem;
                }
            }
        }

        &-wrap-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
            justify-content: flex-end;

            @include abtracts.breakpoint(sm) {
                gap: 5px;
                margin: 15px 0;
            }
        }

        &-add {
            background-color: $fourary-color;
            padding: 10px;
            border-radius: 4px;
            border: none;
            outline: none;
            color: #e6e6e6;
            display: block;
            cursor: pointer;

            @include abtracts.breakpoint(sm) {
                font-size: 1.4rem;
            }
        }

        &-cancel {
            background-color: #ccc;
            padding: 10px;
            border-radius: 4px;
            border: none;
            outline: none;
            color: #333;
            display: block;
            cursor: pointer;

            @include abtracts.breakpoint(sm) {
                font-size: 1.4rem;
            }
        }

        &-edit {
            display: flex;
            align-items: center;
            gap: 5px;
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;

            &--icon {
                font-size: 1.8rem;
                color: $fourary-color;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.5rem;
                }
            }
        }

        &-delete {
            display: flex;
            align-items: center;
            gap: 5px;
            position: absolute;
            bottom: 10px;
            right: 20px;
            cursor: pointer;

            &--icon {
                font-size: 1.8rem;
                color: $secondary;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__food {

        &-item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1.5px solid #e6e6e6;
            padding: 10px;

            @include abtracts.breakpoint(sm) {
                padding: 8px 0;
            }
        }

        &-content {
            display: flex;
            gap: 10px;
        }

        &-title {
            font-size: 1.7rem;
            color: #333;
            margin: 10px 0;

            @include abtracts.breakpoint(sm) {
                font-size: 1.6rem;
            }
        }

        &-wrap-img {
            width: 50px;
            height: 50px;
            border-radius: 4px;
            border: 1.5px solid $fourary-color;
            overflow: hidden;

            @include abtracts.breakpoint(sm) {
                width: 40px;
                height: 40px;
            }
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        &-body {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &--name {
                font-size: 1.8rem;
                color: $secondary;
                font-weight: 500;

                @include abtracts.breakpoint(lg) {
                    font-size: 1.7rem;
                }

                @include abtracts.breakpoint(sm) {
                    font-size: 1.4rem;
                }
            }

            &--price {
                color: #949494;
                font-weight: 500;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.4rem;
                }
            }
        }

        &-total {
            font-size: 2rem;
            font-weight: 500;

            @include abtracts.breakpoint(lg) {
                font-size: 1.8rem;
            }

            @include abtracts.breakpoint(md) {
                font-size: 1.7rem;
            }

            @include abtracts.breakpoint(sm) {
                font-size: 1.5rem;
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        &-prev-shopping {
            display: flex;
            align-items: center;
            gap: 5px;

            &--icon {
                color: #333;
                font-size: 1.5rem;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.4rem;
                }
            }

            &--link {
                color: #333;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.4rem;
                }
            }
        }

        &-next {
            background: $fourary-color;
            padding: 10px;
            border-radius: 99px;
            color: #e6e6e6;
            min-width: 120px;
            border: none;
            outline-offset: none;
            text-align: center;
            cursor: pointer;

            @include abtracts.breakpoint(sm) {
                font-size: 1.6rem;
                min-width: 100px;
            }
        }
    }

    &__form {
        margin-top: 30px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;

        &-title {
            text-align: center;
            color: #333;
            font-weight: 500;
            font-size: 1.8rem;

            @include abtracts.breakpoint(sm) {
                font-size: 1.6rem;
            }
        }

        &-gr {
            margin-top: 20px;
            display: flex;
            gap: 5px;
            flex-direction: column;

            label {
                color: #333;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.5rem;
                }

                span {
                    color: $secondary;
                }
            }

            input {
                padding: 8px;
                border: 1px solid #e6e6e6;
                color: $fourary-color;
                border-radius: 4px;
                outline: none;
                transition: 0.3s;

                @include abtracts.breakpoint(sm) {
                    font-size: 1.5rem;
                }

                &::placeholder {
                    color: #959595;
                }

                &:focus {
                    border-color: $fourary-color;
                }
            }
        }

        &-btn {
            width: 100%;
            padding: 10px;
            text-align: center;
            color: #fff;
            background-color: #000;
            margin-top: 20px;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 4px;
        }
    }

    &__right {
        width: 40%;
        height: 250px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

        @include abtracts.breakpoint(md) {
            width: 550px;
            margin: 0 auto;
        }

        @include abtracts.breakpoint(sm) {
            width: 100%;
        }
    }

    &__fee {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-body {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-title {
            font-size: 1.7rem;
            font-weight: 500;

            @include abtracts.breakpoint(sm) {
                font-size: 1.6rem;
            }
        }

        &-number {
            font-size: 1.7rem;
            font-weight: 500;

            @include abtracts.breakpoint(sm) {
                font-size: 1.6rem;
            }
        }

        &-total {
            border-top: 2px solid #959595;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            padding: 20px 0 10px;

            &--title {
                color: $secondary;
                font-size: 1.8rem;
                font-weight: 500;
            }

            &--number {
                color: $secondary;
                font-size: 1.8rem;
                font-weight: 500;
            }
        }
    }

}