@use "../scss/abtracts";
@import "../Common/Common.module.scss";


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    border-bottom: 1.5px solid #e6e6e6;
    background-image: url('../../components/images/bg-feedback.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99; 

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {
        display: none;
        font-size: 2rem;
        color: $secondary;
        cursor: pointer;

        @include abtracts.breakpoint(sm) {
            display: block;
        }
    }

    &__logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $primary-color;

        @include abtracts.breakpoint(xl) {
            width: 50px;
            height: 50px;
        }

        @include abtracts.breakpoint(md) {
            width: 40px;
            height: 40px;
        }
    }

    &__navbar {
        &-list {
            display: flex;
            align-items: center;
            gap: 40px;
            
            @include abtracts.breakpoint(xl) {
                gap: 30px;
            }
            
            @include abtracts.breakpoint(lg) {
                gap: 20px;
            }

            @include abtracts.breakpoint(md) {
                gap: 10px;
            }

            @include abtracts.breakpoint(sm) {
                display: none;
            }
        }

        &-item {
            position: relative;
        }

        &_link {
            display: block;
            // color: #151e39;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 500;
            padding: 0 20px;
            line-height: 74px; 

            @include abtracts.breakpoint(lg) {
                font-size: 1.6rem;
                padding: 0 10px;
            }

            &:hover {
                color: #ffee10;
                text-shadow: 0 0 5px #ffee10;
            }
        }
    }

    &__action {
        display: flex;
        align-items: center;
        gap: 40px;

        &-cart {
            position: relative;

            &--number {
                position: absolute;
                top: -10px;
                right: -10px;
                background-color: $secondary;
                color: #fff;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;

                @include abtracts.breakpoint(md) {
                    font-size: 1.3rem;
                }
            }
        }

        @include abtracts.breakpoint(xl) {
            gap: 30px;
        }

        i {
            font-size: 2.4rem;
            color: #fff;

            @include abtracts.breakpoint(xl) {
                font-size: 1.8rem;
            }
        }
    }

    &__wrap-avatar {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid $primary-color;

        @include abtracts.breakpoint(md) {
            width: 40px;
            height: 40px;
        }
    }

    &__avatar {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;

    }

    &__logout {
        display: inline-block;
        min-width: 120px;
        padding: 10px 15px;
        text-align: center;
        border: none;
        outline: none;
        background-color: $primary-color;
        color: #333;
        font-weight: 600;
        border-radius: 99px;
        cursor: pointer;

        @include abtracts.breakpoint(xl) {
            padding: 10px;
            font-size: 1.5rem;
            min-width: 100px;
        }

        @include abtracts.breakpoint(lg) {
            font-size: 1.4rem;
            min-width: 90px;
        }

        @include abtracts.breakpoint(md) {
            font-size: 1.4rem;
            min-width: 80px;
        }
    }
}

.navbar__mobie {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    inset: 0;
    z-index: -1;
    
    &:checked ~ .navbar__mobie_inner {
        transform: translateX(-100%);
    }
    
    &_inner {
        top: 65px;
        background-color: #fff;
        z-index: 10;
        position: absolute;
        padding: 10px;
        box-shadow: 0 15px 30px 30px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        overflow: scroll;
        height: calc(100vh - 65px);
        inset: 65px 30% 0 0;
    } 
    
    &-search {
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 4px 8px;
        background-color: rgba(0, 0, 0, 0.2);
        
        &--icon {
            color: #333;
        }

        &--input {
            padding: 10px;
            border: none;
            outline: none;
            background-color: transparent;
            color: #333;
            width: 100%;

            &::placeholder {
                color: #333;
            }
        }
    }

    &-title {
        margin-top: 15px;
        font-size: 1.8rem;
        font-weight: 500;
        padding: 5px;
        color: $secondary;

        &:nth-of-type(2) {
            border-top: 2px solid #ccc;
            padding-top: 15px;
        }
    }

    &-list {
        &:nth-of-type(3) {
            border-top: 2px solid #ccc;
            margin-top: 10px;
            padding-top: 10px;
        }
    }

    &_item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 20px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: #ccc;

            .navbar__mobie_item--icon {
                color: #fff;
            }

            .navbar__mobie_item--link {
                color: #fff;
            }
        }

        &--icon {
            color: #333;
        }

        &--link {
            color: #333;
            width: 100%;
        }
    }
}

.mobieActive {
    background: $linear-orange;
}

.mobieActive .navbar__mobie_item--link {
    color: #fff;
}

.mobieActive .navbar__mobie_item--icon {
    color: #fff;
}

.active {
    color: $red;
}

.show {
    transform: translateX(0);
}

.hide {
    transform: translateX(-100%);
}


