@import '../Common/Common.module.scss';

.loading {
  color: $secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;

  h3 {
    margin-top: 20px;
  }
}
