@import '../Common/Common.module.scss';

.loading {
  width: 100%;
  margin: 50px auto;

  &__inner {
    color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
