@use "../../../components/scss/abtracts";
@import "../../../components/Common/Common.module.scss";

.home {
    &__inner {
        overflow: hidden;
    }

    &__content {
        margin-top: 150px;
        background: url('../../../components/images/burger-home.jpg') center/cover no-repeat;

        @include abtracts.breakpoint(sm) {
            margin-top: 85px;
        }

        &--title {
            font-size: 4rem;
            padding: 50px 0 20px 50px;
            font-family: "Merienda";
            font-weight: 800;

            @include abtracts.breakpoint(xl) {
                font-size: 3.4rem;
            }

            @include abtracts.breakpoint(lg) {
                font-size: 2.6rem;
                padding: 30px 0 20px 30px;
            }

            @include abtracts.breakpoint(md) {
                font-size: 2rem;
                padding: 20px 0 20px 20px;
            }
        }

        &--sub-title {
            color: $secondary;
            font-size: 4rem;
            font-weight: 800;
            
            @include abtracts.breakpoint(xl) {
                font-size: 3.4rem;
            }
        
            @include abtracts.breakpoint(lg) {
                font-size: 2.6rem;
            }

            @include abtracts.breakpoint(md) {
                font-size: 2rem;
            }
        }

        &--desc {
            padding-left: 50px;
            width: 600px;
            color: #333;
            line-height: 1.6;
            font-size: 1.8rem;

            @include abtracts.breakpoint(lg) {
                font-size: 1.6rem;
                width: 500px;
                padding-left: 30px;
            }

            @include abtracts.breakpoint(md) {
                font-size: 1.5rem;
                width: 400px;
                padding-left: 20px;
            }

            @include abtracts.breakpoint(sm) {
                padding-left: 10px;
                font-size: 1.4rem;
                width: 300px;
                padding-left: 20px;
            }
        }

        &--btn {
            padding: 0 0 50px 50px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 30px;

            @include abtracts.breakpoint(lg) {
                padding: 0 0 20px 20px;
            }

            @include abtracts.breakpoint(sm) {
                gap: 20px
            }

            &-order {
                text-align: center;
                border: none;
                outline: none;
                background-color: $secondary;
                color: #fff;
                padding: 10px;
                min-width: 160px;
                font-size: 1.8rem;
                border-radius: 99px;
                font-weight: 500;
                cursor: pointer;

                @include abtracts.breakpoint(md) {
                    font-size: 1.6rem;
                    min-width: 120px;
                }

                @include abtracts.breakpoint(sm) {
                    font-size: 1.5rem;
                }
            }

            &-book {
                text-align: center;
                border: 1px solid $secondary;
                outline: none;
                background-color: #fff;
                color: $secondary;
                padding: 10px;
                min-width: 160px;
                font-size: 1.8rem;
                border-radius: 99px;
                font-weight: 500;
                cursor: pointer;

                @include abtracts.breakpoint(md) {
                    font-size: 1.6rem;
                    min-width: 120px;
                }

                @include abtracts.breakpoint(sm) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__banner {
        margin-top: 70px;

        @include abtracts.breakpoint(md) {
            margin-top: 50px;
        }

        @include abtracts.breakpoint(sm) {
            margin-top: 30px;
        }
    }

    .carousel {
        display: flex;
        justify-content: center;

        &__img {
            border-radius: 8px;
            width: 500px;
            height: 200px;
            object-fit: cover;
            display: block;
        }
    }

    &__category {
        &-top {
            margin: 50px 0 0 50px;
            display: flex;
            align-items: center;
            gap: 10px;

            @include abtracts.breakpoint(md) {
                margin: 70px 0 0 20px;
            }
        }

        &-icon {
            display: block;
            width: 25px;
            height: 25px;
            object-fit: cover;

            @include abtracts.breakpoint(md) {
                width: 20px;
                height: 20px;
            }
        }

        &-title {
            color: $fourary-color;
            font-size: 2rem;

            @include abtracts.breakpoint(md) {
                font-size: 1.8rem;
            }
        }

        &-list-img {
            margin: 30px 0;

            @include abtracts.breakpoint(sm) {
                margin-top: 20px;
            }
        }

        &-wrap-img {
            border-radius: 10px;
            padding: 20px;
            border: 1px solid $fourary-color;
        }

        &-img {
            margin: 0 auto;
            display: block;
            width: 80px;
            height: 80px;
            object-fit: cover;
        }

        &-name {
            text-align: center;
            color: $fourary-color;
            font-size: 1.8rem;
            font-weight: 500;
            margin-top: 20px;
        }
    }

    &__about {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        @include abtracts.breakpoint(md) {
            flex-direction:column;
            gap: 40px;
        }        

        &-img {
            display: block;
            width: 450px;

            @include abtracts.breakpoint(xl) {
                width: 400px;
            }

            @include abtracts.breakpoint(lg) {
                width: 350px;
            }

            @include abtracts.breakpoint(md) {
                width: 100%;
            }
        }

        &-title {
            font-size: 4rem;
            font-family: "Merienda";
            font-weight: 800;

            @include abtracts.breakpoint(xl) {
                font-size: 3.6rem;
            }

            @include abtracts.breakpoint(lg) {
                font-size: 3rem;
            }

            @include abtracts.breakpoint(md) {
                font-size: 2.6rem;
                text-align: center;
            }

            @include abtracts.breakpoint(sm) {
                font-size: 2rem;
            }
        }

        &-sub-title {
            color: $secondary;
            font-size: 4rem;
            font-weight: 800;

            @include abtracts.breakpoint(xl) {
                font-size: 3.6rem;
            }

            @include abtracts.breakpoint(lg) {
                font-size: 3rem;
            }

            @include abtracts.breakpoint(md) {
                font-size: 2.6rem;
            }

            @include abtracts.breakpoint(sm) {
                font-size: 2rem;
            }
        }

        &-desc {
            margin: 20px 0;
            max-width: 600px;
            color: #333;
            line-height: 1.6;
            font-size: 1.8rem;

            @include abtracts.breakpoint(lg) {
                font-size: 1.6rem;
            }

            @include abtracts.breakpoint(md) {
                font-size: 1.5rem;
                text-align: center;
                max-width: 800px;
            }


        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;
        }

        &-item {
            display: flex;
            align-items: flex-end;
            gap: 20px;

            @include abtracts.breakpoint(md) {
                max-width: 800px;
                margin: 0 auto;
            }

            @include abtracts.breakpoint(sm) {
                width: 300px;
                margin: 0 auto;
            }

            &--check {
                width: 30px;
                height: 30px;
                display: block;
                object-fit: cover;

                @include abtracts.breakpoint(md) {
                    width: 20px;
                    height: 20px;
                }
            }
            
            &--content {
                font-size: 1.8rem;
                font-weight: 500;
                color: $secondary;

                @include abtracts.breakpoint(md) {
                    font-size: 1.6rem;
                }
            }
        }

        &-wrap-btn {
            display: flex;
            align-items: center;
            gap: 30px;
            margin: 30px 0;

            @include abtracts.breakpoint(md) {
                gap: 20px;
                justify-content: center;
            }
        }

        &-btn--order {
            text-align: center;
            border: none;
            outline: none;
            background-color: $fourary-color;
            color: #fff;
            padding: 10px;
            min-width: 160px;
            font-size: 1.8rem;
            border-radius: 99px;
            font-weight: 500;
            cursor: pointer;

            @include abtracts.breakpoint(lg) {
                min-width: 140px;
                font-size: 1.7rem;
            }

            @include abtracts.breakpoint(sm) {
                min-width: 120px;
                font-size: 1.5rem;
            }
        }

        &-btn--read {
            border: 1px solid $fourary-color;
            outline: none;
            background-color: transparent;
            color: $fourary-color;
            padding: 10px;
            min-width: 160px;
            font-size: 1.8rem;
            border-radius: 99px;
            font-weight: 500;
            text-align: center;
            cursor: pointer;

            @include abtracts.breakpoint(lg) {
                min-width: 140px;
                font-size: 1.7rem;
            }

            @include abtracts.breakpoint(sm) {
                min-width: 120px;
                font-size: 1.5rem;
            }
        }
    }
    
    &__delivery {
        margin-top: 50px;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;

        @include abtracts.breakpoint(md) {
            flex-direction: column;
        }

        &--title {
            font-size: 4rem;
            font-family: "Merienda";
            font-weight: 800;
            color: $thirtary;
            max-width: 500px;

            @include abtracts.breakpoint(xl) {
                font-size: 3.6rem;
            }

            @include abtracts.breakpoint(lg) {
                font-size: 3rem;
            }

            @include abtracts.breakpoint(md) {
                text-align: center;
                max-width: 100%;
                font-size: 2.6rem;
            }

            @include abtracts.breakpoint(sm) {
                font-size: 2rem;
            }

            span {
                color: $secondary;
            }
        }

        &--desc {
            margin-top: 30px;
            color: #333;
            line-height: 1.6;
            font-size: 1.8rem;
            max-width: 500px;

            @include abtracts.breakpoint(md) {
                font-size: 1.6rem;
                max-width: 700px;
            }

            @include abtracts.breakpoint(sm) {
                font-size: 1.5rem;
                text-align: center;
            }
        }

        &-wrap-img {
            width: 500px;

            @include abtracts.breakpoint(md) {
                width: 400px;
            }

            @include abtracts.breakpoint(sm) {
                width: 250px;
            }
        }

        &-img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Feedback
.feedback {
    margin: 100px 0;

    &__title {
        font-size: 4rem;
        font-family: "Merienda";
        font-weight: 800;
        text-align: center;

        @include abtracts.breakpoint(xl) {
            font-size: 3.6rem;
        }

        @include abtracts.breakpoint(lg) {
            font-size: 3rem;
        }

        @include abtracts.breakpoint(md) {
            font-size: 2.6rem;
        }

        @include abtracts.breakpoint(sm) {
            font-size: 2rem;
        }

        span {
            color: $secondary;
        }
    }

    &__desc {
        max-width: 600px;
        margin: 20px auto;
        text-align: center;
        line-height: 1.6;
        color: #333;
        font-size: 1.8rem;

        @include abtracts.breakpoint(md) {
            font-size: 1.6rem;
        }

        @include abtracts.breakpoint(sm) {
            font-size: 1.5rem;
        }
    }

    &__list {
        margin-top: 20px;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;

        @include abtracts.breakpoint(md) {
            grid-template-columns: 1fr;
            gap: 20px
        }
    }

    &__item {
        background: url('../../../components/images/bg-feedback.jpg') center/cover no-repeat;
        border: 1px solid #959595;
        padding: 30px;
        border-radius: 10px;

        &-desc {
            color: #f1f1f1;
            line-height: 1.6;

            @include abtracts.breakpoint(sm) {
                font-size: 1.5rem;
            }

        }

        &-name {
            color: $fourary-color;
            text-align: right;
            margin-top: 10px;
            font-size: 1.8rem;
            font-weight: 500;

            @include abtracts.breakpoint(sm) {
                font-size: 1.5rem;
            }
        }
    }
}
