@use "../scss/abtracts";
@import "../Common/Common.module.scss";

.footer {
    background-image: url("../images/bg-footer.jpg");
    background-position: center center;
    background-size: cover;
    padding: 10px 0;

    &__top {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        @include abtracts.breakpoint(md) {
            justify-content: space-between;
        }
    }

    &__logo {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid $primary-color;
    }

    &__spacer {
        width: 1.5px;
        height: 50px;
        margin: 0 20px;
        background-color: rgba(255, 255, 255, 0.3);

        @include abtracts.breakpoint(md) {
            display: none;
        }
    }

    &__subscription {
        display: flex;
        flex-direction: column;

        &-title {
            font-family: "Dancing Script";
            font-weight: 700;
            font-size: 2.6rem;
            color: $secondary;

            @include abtracts.breakpoint(lg) {
                font-size: 2rem;
            }
        }

        &-sub-title {
            font-size: 1.5rem;
            color: #ccc;
            margin-top: 5px;

            @include abtracts.breakpoint(lg) {
                font-size: 1.4rem;
            }
        }
    }

    &__input {
        display: block;
        outline: none;
        border-radius: 99px;
        border: none;
        padding: 10px 20px;
        flex: 1;
        color: #151e39;
    }

    &__btn {
        min-width: 160px;
        border: none;
        outline: none;
        color: $thirtary;
        background-color: $primary-color;
        font-size: 1.8rem;
        border-radius: 99px;
        font-weight: 500;
        padding: 10px 20px;

        @include abtracts.breakpoint(lg) {
            font-size: 1.6rem;
            min-width: 120px;
            padding: 10px;
        }
    }

    &__hr {
        display: block;
        width: 100%;
        height: 1.5px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 99px;
        margin: 30px 0;

        @include abtracts.breakpoint(lg) {
            margin: 20px 0;
        }
    }

    &__bottom {
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr 0.8fr;
        gap: 40px;

        @include abtracts.breakpoint(lg) {
            grid-template-columns: 1fr 1fr;
        }

        @include abtracts.breakpoint(sm) {
            grid-template-columns: 1fr;
            place-content: center;
            place-items: center;
            gap: 50px
        }
    }

    &__column {

        &-wrap {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
        &-desc {
            color: rgba(255, 255, 255, 0.4);
            line-height: 1.6;

            @include abtracts.breakpoint(lg) {
                font-size: 1.5rem;
            }

            @include abtracts.breakpoint(md) {
                font-size: 1.4rem;
            }
        }

        &-content {
            color: $primary-color;
            font-size: 1.6rem;
            font-weight: 500;

            @include abtracts.breakpoint(lg) {
                font-size: 1.4rem;
            }

            @include abtracts.breakpoint(sm) {
                text-align: center;
            }
        }
        

        &-title {
            font-family: "Merienda";
            color: #fff;
            margin-bottom: 10px;

            @include abtracts.breakpoint(lg) {
                font-size: 1.6rem;
            }

            @include abtracts.breakpoint(sm) {
                text-align: center;
            }
        }

        &-link {
            display: block;
            color: rgba(255, 255, 255, 0.3);
            padding: 10px;

            @include abtracts.breakpoint(sm) {
                text-align: center;
            }
        }
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 20px;
        color: rgba(255, 255, 255, 0.4);
        margin: 20px 0;

        i {
            color: $primary-color;
        }
    }
}