[data-theme="dark"] {
    $primary-color: #d3f54b;
    $secondary: #d3791f;
    $thirtary: #d995e1;
    $border-color: #933a3a;
    $fourary-color: #2462b5;
    $red: #B00020;
    $red-light: #CF6679;
    $box-shadow-color: #50E3C2;
}