[data-theme="light"] {
    $primary-color: #f5c44b;
    $secondary: #d32d1f;
    $thirtary: #131313;
    $border-color: #e6e6e6;
    $fourary-color: #ec8739;
    $red: #B00020;
    $red-light: #CF6679;
    $box-shadow-color: #50E3C2;
}